:root {
  --accent: 170, 170, 170;        /* #AAAAAA */
  --accent-off: 130, 130, 130;    /* #828282 */
  --dark: 85, 85, 85;             /* #555555 */
  --darkest: 50, 50, 50;          /* #323232 */
  --dark-highlight: 65, 65, 65;   /* #414141 */
  --dark-apparent: 29, 29, 29;    /* #2D2D2D */
}